@charset "utf-8";
/* CSS Document */
.left {
	position:relative;
	top:15px;
	color: white;
	word-spacing: 7px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;

}

.left li {
	display:inline;
	
}

.right {
	text-align:right;
	position:relative;
	bottom:20px;
	right:40px;
	color: white;
	word-spacing: 7px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;
}

.right li {
	display:inline;
}

body {
	background-color:#FFF1CB;
	font-optical-sizing:auto;
	
}
a:link { color:white;
	text-decoration:none;}
a:hover {color:#9E7400;
	text-decoration:none;}
a:visited {color:white}
a:active {color:#9E7400}

header {
	background-image:url("../img/m-menuimage.jpg");
	background-size: cover;
	margin-top:-15px;
	margin-right:-20px;
	margin-left:-20px;
	height:325px;
}
.menuselection {
	display:flex;
	padding-top:7px;

}
.menuselection h2 {
	font-size: 90px;
	margin-top:-25px;
	margin-right:-80px;
	font-family: "lemongrass-script", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:white;
}
	
.menuselection div {
	margin:50px;
	
}

.buttons {
	display:flex;
	
}

.buttons div {
	width:10px;
	margin-top:17px;
	margin-right:75px;
	
}
.button1{
	color:#9E7400;
	border:none;
	background-color:#FFF1CB;
	padding: 15px 30px;
	border-radius:25px;
	font-size:17px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;
	width:120px;
}
.button1:hover {
	color:#ffeaf1;
	background-color:#9E7400; 
}

.ttsymbol {
	height:70px;
	border-radius:50%;
	margin-left:200px;
	
}

.menuimage {
	height:150px;
	width:70%;
	object-fit:cover;
	border-top-right-radius:120px;
	border-bottom-right-radius:20px;
	border-top-left-radius:120px;
	border-bottom-left-radius:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:25px;
	
}

.selection {
	height:1250px;
	margin-left:100px;
	
}
.selection img {
	height:150px;
	width:150px;
	object-fit:cover;
	border-radius:50%;
}

.pastrychoices{
	margin:100px;
}
.pastrychoices2{
	margin-left:100px;
	margin-right:100px;
	margin-top:-23px;

	
}

h3 {
	color:#9E7400;
	font-size: 20px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;
	
}

p{
font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
font-size:16px;
	color:#9E7400;
}
	

section {
	float:left;
	width:50%;
	height:20px;

}

footer { 
	background-color:#E19200;
	color:white;
	height:120px;
	margin-bottom:-20px;
	margin-left:-20px;
	margin-right:-20px;
	padding-top:2px;
}
footer li
{
	list-style-type:none;
	line-height:2;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
	
}

footer img {
	
	float:right;
	height:70px;
	margin-top:-10px;
}

.socials{
	margin-right:20px;
}