@charset "utf-8";
/* CSS Document */

body {
	background-color:#EDFFEA;
	
}

header {
	
	
	background:url("../img/e-eventsimage.jpg") no-repeat top;
    background-size: cover;
	margin-left:-10px;
	margin-right:-8px;
	margin-top:-16px;
	padding: 0px;
	height:490px;
}
.left li {
	display:inline;
	
}

.left {
	position:relative;
	top:15px;
	color: white;
	word-spacing: 7px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;

}
.right li {
	display:inline;
}

.right {
	text-align:right;
	position:relative;
	bottom:20px;
	right:40px;
	color: white;
	word-spacing: 7px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;
}

.middle img {
	height:100px;
	align-content:center;
	border-radius:50%;	
	margin-top: -20px;
	margin-bottom: -20px;
	object-fit: cover;
	
}
.middle h1 {
	color:white;
	font-size: 100px;
	margin-bottom:26px;
	margin-top:29px;
	font-family: "lemongrass-script", sans-serif;
	font-weight:400;
	font-style: normal;}

.middle{
	text-align:center;
	padding-bottom: 50px;
	color:white;
}

.request {
	margin-top:60px;
}

.request button {
	color:#477341;
	border:none;
	background-color:#EDFFEA;
	padding: 19px 30px;
	border-radius:29px;
	font-size:18px;
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:230px;
  	font-style: normal;
	width:200px;
}
.button1:hover {
	color:#EDFFEA;
	background-color:#477341; 
}
a:link { color:white;
	text-decoration:none;}
a:hover {color:#477341;
	text-decoration:none;}
a:visited {color:white}
a:active {color:white}

.events {

	height:1100px;
	
}

.upcoming{
	margin-left:70px;
	margin-top:70px;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:470;
	font-size:40px;
  font-style: normal;
	padding-left:10px;
	color:#477341;
}

.event1 {
	padding-top:40px;
	padding-left:70px;
	display:flex;
	color:#477341;
	
}

.event1 img {
	height:400px;
	width:1350px;
	object-fit:cover;
	border-radius:100px;
}
.event1 li {
	list-style-type:none;
	line-height:1.2;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
	font-size:20px;
  font-style: normal;
		padding-right:70px;
	
}

.event2 {
	padding-top:150px;
	padding-left:70px;
	display:flex;
	color:#477341;
}

.event2 img{
	height:400px;
	width:1200px;
	object-fit:cover;
	border-radius:100px;

}
.event2 li {
	list-style-type:none;
	line-height:1.2;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
	font-size:20px;
  font-style: normal;
	padding-right:70px;
	
	
}

footer { 
	background-color:#477341;
	color:white;
	height:120px;
	margin-bottom:-20px;
	margin-left:-20px;
	margin-right:-8px;
	padding-top:2px;
}
footer li
{
	list-style-type:none;
	line-height:2;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
	
}

footer img {
	
	float:right;
	height:70px;
	margin-top:-10px;
}

.socials{
	margin-right:20px;
}
