@charset "utf-8";
/* CSS Document */



body {
	background-color:#EDFFEA;	
	font-optical-sizing:auto;
}
p{
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
	font-size:25px;
margin-top:40px;
margin-right:30px;
}

nav li{
	display:inline;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
}
.right {
	text-align:right;
	position:relative;
	padding-right:20px;
	word-spacing: 8px;
}
a:link { color:#477341;
	text-decoration:none;}
a:hover {color:white;
	text-decoration:none;}
a:visited {color:#477341}
a:active {color:#477341}


#flexbook{
	height:100%;
	width:100%;
	display:flex;
	justify-content:space-evenly;
	margin: 0 auto;
	
}
.aboutimage img {
	height:60px;
	border-radius:50%;
}

.aboutimage{
	
	width:1000px;
	height:1110px;
	background:url("../img/a-aboutimage.jpg") no-repeat;
	background-size:cover;
	margin-top:-83px;
	margin-left:-10px;
	padding-left:20px;
	padding-top:50px;
	flex-direction:column;
	justify-content:flex-start;

	
}
.aboutimage h1{

	font-family: "lemongrass-script", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:white;
	font-size:100px;
	margin-top:-10px;
}
.maincolumn{
	padding-left:50px;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:350;
  font-style: normal;
}

.maincolumn h3{
	font-size:23px;
	color:#477341;
}
.reachout {
padding-left: 200px;
	
}

.location {
	padding:20px;
	margin:20px;
	
}

.location img {
	padding-top:20px;
	height:500px;	
	border-radius:250px;
}
.location p {
	font-size:20px;
	
}
.hourscontact{
	display:flex;
	padding:20px;
	margin:20px;

}
.hourscontact li {
list-style-type: none;
margin-left:-40px;
font-size:20px;
}



footer { 
	background-color:#477341;
	color:white;
	height:120px;
	margin-bottom:-20px;
	margin-left:-20px;
	margin-right:-20px;
	padding-top:2px;
}
footer li
{
	list-style-type:none;
	line-height:2;
	font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:420;
  font-style: normal;
	
}

footer img {
	
	float:right;
	height:70px;
	
}

.socials{
	margin-right:20px;
	
}
